<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>103149234586-vc28r10ma1q9j4pi3s0hfrrajjqkmt4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103149234586-vc28r10ma1q9j4pi3s0hfrrajjqkmt4o</string>
	<key>API_KEY</key>
	<string>AIzaSyCyx9uLCGyOXQeEIevxYiXNSQXYx2ul84M</string>
	<key>GCM_SENDER_ID</key>
	<string>103149234586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yilmaz.rush</string>
	<key>PROJECT_ID</key>
	<string>rushapp-c1031</string>
	<key>STORAGE_BUCKET</key>
	<string>rushapp-c1031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103149234586:ios:c37981c2acc8af54</string>
	<key>DATABASE_URL</key>
	<string>https://rushapp-c1031.firebaseio.com</string>
</dict>
</plist>